<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Adicionar nova Tarefa">

    </ion-input>

    <ion-button (click)="addTask()">
      Adicionar
    </ion-button>

  </ion-item>

  <ion-list>

    <ion-item *ngFor="let tarefa of tasks">
    <ion-label 
    [ngClass]="{'completado-task': tarefa.completed}">
      {{ tarefa.title }}
    </ion-label>

    <ion-button fill="clear" (click)="concluir(tarefa.id)">
      <ion-icon [name]="tarefa.completed ? 'checkmark-circle':'ellipse-outline'">

      </ion-icon>

    </ion-button>

    </ion-item>

  </ion-list>


</ion-content>
